In [2]:
import pymysql

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root')

# Create a cursor object
cursor = connection.cursor()

# SQL command to create a database
database_name = "census99"
create_db_query = f"CREATE DATABASE {database_name};"

# Execute the SQL command
cursor.execute(create_db_query)
print(f"Database '{database_name}' created successfully!")

Database 'census99' created successfully!

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             database='census99')

# Create a cursor object
cursor = connection.cursor()

# SQL query to create the table
create_table_query = """
CREATE TABLE people (
    id INT AUTO_INCREMENT PRIMARY KEY,
    C010_GENDER INT NOT NULL,
    C020_AGE INT NOT NULL,
    C031_TAIWANESE INT NOT NULL,
    C032_NATIONALITY INT NOT NULL,
    C040_FOREIGN_WORKER INT NOT NULL,
    C050_MARRIAGE INT NOT NULL,
    C060_REL_HEAD INT NOT NULL,
    C071_ED_STATUS INT NOT NULL,
    C072_EDUCATION INT NOT NULL,
    C073_KINDERGARDEN INT NOT NULL,
    C081_6H_CHINESE INT NOT NULL,
    C082_6H_MINNAN INT NOT NULL,
    C083_6H_HAKKA INT NOT NULL,
    C084_6H_ABORIGINAL INT NOT NULL,
    C085_6H_OTHER INT NOT NULL,
    C091_6P_CHINESE INT NOT NULL,
    C092_6P_MINNAN INT NOT NULL,
    C093_6P_HAKKA INT NOT NULL,
    C094_6P_ABORIGINAL INT NOT NULL,
    C095_6P_OTHER INT NOT NULL,
    C100_5Y_RESIDENCE INT NOT NULL,
    C110_MAIN_INCOME INT NOT NULL,
    C121_EMPLOYMENT INT NOT NULL,
    C122_INDUSTRY INT NOT NULL,
    C123_OCCUPATION INT NOT NULL,
    C131_WS_STATUS INT NOT NULL,
    C132_WS_LOCATION INT NOT NULL,
    C141_OFFSPRING INT NOT NULL,
    C142_OFFSPRING_RESIDENCE INT NOT NULL,
    C151_DIS_EAT INT NOT NULL,
    C152_DIS_BED INT NOT NULL,
    C153_DIS_CLOTHES INT NOT NULL,
    C154_DIS_TOILET INT NOT NULL,
    C155_DIS_SHOWER INT NOT NULL,
    C156_DIS_OWALK INT NOT NULL,
    C157_DIS_CHORE INT NOT NULL,
    C158_DIS_NONE INT NOT NULL,
    C160_ABORIGINAL INT NOT NULL,
    C170_DISABLED INT NOT NULL
);
"""

# Execute the SQL command
cursor.execute(create_table_query)
print("Table 'people' created successfully!")

Table 'people' created successfully!

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             database='census99')

insert_command = """
    INSERT INTO people (
    C010_GENDER       , C020_AGE                , C031_TAIWANESE   ,
    C032_NATIONALITY  , C040_FOREIGN_WORKER     , C050_MARRIAGE    ,
    C060_REL_HEAD     , C071_ED_STATUS          , C072_EDUCATION   ,
    C073_KINDERGARDEN , C081_6H_CHINESE         , C082_6H_MINNAN   ,
    C083_6H_HAKKA     , C084_6H_ABORIGINAL      , C085_6H_OTHER    ,
    C091_6P_CHINESE   , C092_6P_MINNAN          , C093_6P_HAKKA    ,
    C094_6P_ABORIGINAL, C095_6P_OTHER           , C100_5Y_RESIDENCE,
    C110_MAIN_INCOME  , C121_EMPLOYMENT         , C122_INDUSTRY    ,
    C123_OCCUPATION   , C131_WS_STATUS          , C132_WS_LOCATION ,
    C141_OFFSPRING    , C142_OFFSPRING_RESIDENCE, C151_DIS_EAT     ,
    C152_DIS_BED      , C153_DIS_CLOTHES        , C154_DIS_TOILET  ,
    C155_DIS_SHOWER   , C156_DIS_OWALK          , C157_DIS_CHORE   ,
    C158_DIS_NONE     , C160_ABORIGINAL         , C170_DISABLED)
    VALUES (
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s,
    %s, %s, %s)
"""

connection = pymysql.connect(host='localhost',
                             user='root',
                             database='census99')

with open('people.txt') as fp:
    s = fp.readline()
    while s != '':
        T100 = s[0:7]
        T200 = s[7:14]
        FILLER = s[14:15]
        T300 = s[15:16]
        C010 = s[16:17]
        C020 = s[17:19]
        C031 = s[19:20]
        C032 = s[20:21]
        C040 = s[21:22]
        C050 = s[22:23]
        C060 = s[23:25]
        C071 = s[25:26]
        C072 = s[26:28]
        C073 = s[28:29]
        C081 = s[29:30]
        C082 = s[30:31]
        C083 = s[31:32]
        C084 = s[32:33]
        C085 = s[33:34]
        C091 = s[34:35]
        C092 = s[35:36]
        C093 = s[36:37]
        C094 = s[37:38]
        C095 = s[38:39]
        C100 = s[39:40]
        FILLER = s[40:42]
        C110 = s[42:43]
        C121 = s[43:44]
        FILLER = s[44:45]
        C122 = s[45:47]
        C123 = s[47:49]
        C131 = s[49:50]
        C132 = s[50:51]
        FILLER = s[51:53]
        C141 = s[53:54]
        C142 = s[54:55]
        C151 = s[55:56]
        C152 = s[56:57]
        C153 = s[57:58]
        C154 = s[58:59]
        C155 = s[59:60]
        C156 = s[60:61]
        C157 = s[61:62]
        C158 = s[62:63]
        C160 = s[63:64]
        C170 = s[64:65]
        FILLER = s[65:66]
        EX3 = s[66:70]

        args = (
        C010, C020, C031,
        C032, C040, C050,
        C060, C071, C072,
        C073, C081, C082,
        C083, C084, C085,
        C091, C092, C093,
        C094, C095, C100,
        C110, C121, C122,
        C123, C131, C132,
        C141, C142, C151,
        C152, C153, C154,
        C155, C156, C157,
        C158, C160, C170)

        with connection.cursor() as cursor:
            cursor.execute(insert_command, args)

        connection.commit()

        s = fp.readline()
# this takes 65m

In [16]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             database='census99')

# SQL command to count rows in the "people" table
count_command = "SELECT COUNT(*) FROM people"

# Create a cursor object to interact with the database
with connection.cursor() as cursor:
    # Execute the SQL query
    cursor.execute(count_command)

    # Fetch the result (only one row, one column)
    result = cursor.fetchone()

    # Print the result; result[0] contains the count
    print(f"Total rows in the people table: {result[0]}")

Total rows in the people table: 3618831